<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.travelAgencyProject.persistence.interfaces.ClientAgreementRepository">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT into client_agreement(conditions, client_id, client_discount_id, travel_agent_id, tour_identificator,
        tour_transport, tour_type)
        VALUES (#{conditions}, #{clientId}, #{discountId}, #{travelAgentId}, #{tourId}, #{mainTransportId},
        #{tourTypeId});
    </insert>

    <update id="updateById">
        Update client_agreement set conditions=#{clientAgreement.conditions}, client_id=#{clientAgreement.clientId},
        client_discount_id=#{clientAgreement.discountId}, travel_agent_id=#{clientAgreement.travelAgentId},
        tour_identificator=#{clientAgreement.tourId}, tour_transport=#{clientAgreement.mainTransportId},
        tour_type=#{clientAgreement.tourType.id}
        where id =#{id};
    </update>

    <delete id="deleteById">
        delete client_agreement where id = #{id}
    </delete>

    <select id="getById" resultMap="ClientAgreementResultMap">
        select * from client_agreement where id=#{id}
    </select>

    <resultMap id="ClientAgreementResultMap" type="com.solvd.travelAgencyProject.domain.ClientAgreement"
               autoMapping="false">
        <id column="id" property="id"/>
        <result column="conditions" property="conditions"/>
        <result column="client_id" property="clientId"/>
        <result column="client_discount_id" property="discountId"/>
        <result column="travel_agent_id" property="travelAgentId"/>
        <result column="tour-identificator" property="tourId"/>
        <result column="tour_transport" property="mainTransportId"/>
        <result column="tour_type" property="tourTypeId"/>
        <association property="Client" resultMap="ClientResultMap"/>
        <association property="Discount" resultMap="DiscountResultMap"/>
        <association property="TravelAgent" resultMap="TravelAgentResultMap"/>
        <association property="Tour" resultMap="TourResultMap"/>
        <association property="MainTransport" resultMap="MainTransportResultMap"/>
        <association property="TourType" resultMap="TourTypeResultMap"/>
    </resultMap>
</mapper>