<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.travelAgencyProject.persistence.interfaces.TourRepository">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT into tour(name, cost, type_of_the_transport, type_of_the_tour)
        VALUES (#{name}, #{cost}, #{mainTransportId}, #{tourTypeId});
    </insert>

    <update id="updateById">
        Update tour set name=#{tour.name}, cost=#{tour.cost}, type_of_the_transport=#{tour.mainTransportId},
        type_of_the_tour=#{tour.tourTypeId}
        where id = #{id};
    </update>

    <delete id="deleteById">
        delete tour where id = #{id}
    </delete>

    <select id="getById" resultMap="TourResultMap">
        select * from tour where id=#{id}
    </select>

    <sql id="Select">
        select t.id, t.name, t.cost,
        tt.id, tt.name
        from tour t
        inner join tour_type tt
        on t.type_of_the_tour = tt.id
    </sql>

    <select id="showToursWithArrangedCost" resultMap="TourResultMap">
        <include refid="Select"/>
        where t.cost <![CDATA[ < ]]> = #{costOfTheTour}
    </select>

    <select id="showToursWithEstablishedTourType" resultMap="TourResultMap">
        <include refid="Select"/>
        where tt.name = #{nameOfTheTourType}
    </select>

    <resultMap id="TourResultMap" type="com.solvd.travelAgencyProject.domain.Tour" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cost" property="cost"/>
        <result column="type_of_the_transport" property="mainTransportId"/>
        <result column="type_of_the_tour" property="tourTypeId"/>
        <association property="MainTransport" resultMap="MainTransportResultMap"/>
        <association property="TourType" resultMap="TourTypeResultMap"/>
    </resultMap>
</mapper>