<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.travelAgencyProject.persistence.interfaces.TravelAgentRepository">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT travel_agent(name, surname, tour_responsibility) VALUES (#{name}, #{surname}, #{tourTypeId});
    </insert>

    <update id="updateById">
        Update travel_agent set name=#{travelAgent.name}, surname=#{travelAgent.surname},
        tour_responsibility=#{travelAgent.tourTypeId}
        where id = #{id};
    </update>

    <delete id="deleteById">
        delete travel_agent where id = #{id}
    </delete>

    <select id="getById" resultMap="TravelAgentResultMap">
        select * from travel_agent where id=#{id}
    </select>

    <resultMap id="TravelAgentResultMap" type="com.solvd.travelAgencyProject.domain.TravelAgent" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="surname" property="surname"/>
        <result column="tour_responsibility" property="tourTypeId"/>
    </resultMap>
</mapper>